@font-face {
    font-family: "Sedan";
    src: url('Sedan-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@media (hover: hover){
    body {
        background-color: mediumaquamarine;
    }
}
/* External CSS Stylesheet */
:root {
    --main-color: #000;
    --mixed: color-mix(rgb, #ff0000, #0000ff);
}

.selector {
    color: var(--main-color, #ff0000);
}
/* General CSS Topics */
body {
    font-family: 'Sedan', sans-serif;
    margin: 0 0 0 0;
    padding: 0;
    color: hsl(25,25%,25%);
}
header {
    background-color:var(--mixed, green);
    padding: 25px;
    text-decoration: unset;
    text-align: center;
}
div {
    background-color: rgba(166, 246, 148, 0.5);
}
body {
    background-color: linen;
}

main {
    padding: 20px;
}

.box {
    position: relative;
    display: flex;
    flex-direction: row;
    border-style: hidden;
    border-width: 10px;
    border-color: linen;
    border-radius: 100px;
}

ul {
    list-style-type: circle;
}
.px {
    width: 200px;
    flex-basis: auto;
}
.vw {
    width: 10vw;
    flex-flow: column wrap;
}
.container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
section {
    margin-bottom: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
img {
    position: static;
    display: block;
    margin: 0 auto;
}
audio, video {
    display: inline-block;
    margin: auto;
    height: 2em;
    width: 1em;
}
form {
    display: block;
    margin-top: 20px;
    padding: 0 0 20px 0;
    background-color: color(srgb 0 150 244);
}

input, textarea, select, button {
    margin-bottom: 10px; 
    max-width: 100%;
    min-width: 50%;
    box-sizing: border-box; 
}

button:hover {
    background-color: cornflowerblue;
}
button:active {
    background-color: green;
}
footer {
    padding-top: 10px;
    padding-bottom: 3em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}